In [1]:
import sys
import pandas as pd
import numpy as np
import keras, matplotlib, sklearn

In [3]:
df = pd.read_csv('final_test.csv')
df.describe()

              weight            age         height
count  119734.000000  119477.000000  119404.000000
mean       61.756811      34.027311     165.805794
std         9.944863       8.149447       6.737651
min        22.000000       0.000000     137.160000
25%        55.000000      29.000000     160.020000
50%        61.000000      32.000000     165.100000
75%        67.000000      37.000000     170.180000
max       136.000000     117.000000     193.040000

In [4]:
df = df.dropna()
df

        weight   age  height size
0           62  28.0  172.72   XL
1           59  36.0  167.64    L
2           61  34.0  165.10    M
3           65  27.0  175.26    L
4           62  45.0  172.72    M
...        ...   ...     ...  ...
119729      63  42.0  175.26    M
119730      45  29.0  154.94    S
119731      61  31.0  172.72    M
119732      74  31.0  167.64   XL
119733      70  30.0  167.64   XL

[119153 rows x 4 columns]

In [5]:
df.dtypes

weight      int64
age       float64
height    float64
size       object
dtype: object

In [6]:
from sklearn.model_selection import train_test_split

X = df.iloc[:,:-1]
y = df['size']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=109)

In [7]:
y = df.select_dtypes(include=[object])
y.head()

  size
0   XL
1    L
2    M
3    L
4    M

In [8]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import RidgeClassifier

clf = RidgeClassifier()

# Reshape y using ravel()
y = y.values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=109)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

baseline_performance = metrics.accuracy_score(y_test, y_pred)
print(f'Accuracy with without feature selection: {baseline_performance}')

Accuracy with without feature selection: 0.4273205393610474

In [9]:
sample = pd.DataFrame([[40, 23, 180]], columns=['weight', 'age', 'height'])
output= clf.predict(sample)
print(output)

['M']

In [10]:
import joblib
joblib.dump(clf,'model.pkl')

['model.pkl']